.App {
  margin: auto;
  font-size: large;
}

.gen-joke{
  border: 5px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.joke0{
  background-color: blue;
}

.joke2{
  background-color: yellow;
}

.btn2{
  margin-left: 10px;
}

.navigation{
  font-size: 25px;
  padding: 10px;
  margin-inline-end: 5px;
  width: 200px;
  border-radius: 5px;
  border: none;
}

header{
  
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 20px;
}

header > h1{
  text-align: center;
  font-size: 60px;
  height: 60px;
  
}


/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  } */
/* } */
