.App {
  margin: auto;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}

.gen-joke{
  border: 5px solid black;
  border-radius: 10px;
  /* padding: 10px; */
  margin-bottom: 10px;
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  font-family: 'Space Grotesk', sans-serif;
  display: flex;
  justify-content: center;
  /*Placed the link from google fonts in index.html in Public folder*/
}

.joke0{
  background-color: blue;
}

.joke2{
  background-color: yellow;
}

.prog2{
  background-color: lightsalmon;
}

.prog4{
  background-color: burlywood;

}
.btn2{
  margin-left: 10px;
}

.btn1, .btn2, .reset{
  padding: 20px;
  font-size: 25px;
  border: 3px solid black;
  border-radius: 3px;
}

.navigation{
  font-size: 25px;
  padding: 10px;
  margin-inline-end: 5px;
  width: 200px;
  border-radius: 5px;
  border: none;
}

.site-contents{
  font-weight: 600;
  font-family: 'Space Grotesk', sans-serif;
  letter-spacing: 3px;
}

.generic-img{
  background-size: contain;
  background-repeat: repeat-x;
  height: 100%;

}

/* colors for each of the jokes */
.prompt0{
  color: white;

}

.prompt1{
  color: hotpink;
}

/*Lame jokes styles*/
.prompt-7{
  color: green;

}

.btn-subtitle{
  font-size: 20px;
  font-weight: 600;
  font-family: 'Space Grotesk', sans-serif;
  
}

.some-margin{
  margin-left: 20px;

}



header{
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  border-bottom: 5px solid black;
}

header > h1{
  text-align: center;
  font-size: 60px;
  height: 40px;
  letter-spacing: 10px;
  
}

header > h3{
  text-align: center;
  height: 10px;
  letter-spacing: 5px;
}

nav{
  margin-left: 25px;
}
button{
  background-color: rgb(238, 232, 232);
}

button:active{
  transform: translateY(2px);

}


/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  } */
/* } */
